.class1{
    width: 1200px;
    height: 100px;
    background-color: rgb(134, 26, 107);
    border-style: hidden;
    margin-left: 5%;
    margin-right: 5%;
}
.class2{
    width: 1400px;
    height: 200px;
    border-style:hidden; 
    /* margin-left: 5%;
    margin-right: 5%; */
    color: white;
    text-align: center;
    /* border-width: 5px; */
    /* border-radius: 50%; */
    /* background-color: whit; */
}